img {
    width: 400px;
}

 @media (max-width: 1080px) {
    img {
        width: 100%;
    }

}

@media (min-width: 1081px){
    body {
        background-color: blue;
    }
}

@media (min-width: 1200px) {
    body {
        background-color: green;
    }
}
