p {
    color: black
  
}

body {
    background-color: #4EFF33;
}

h1 {
    color:#2824BD;
    font-family: 'Luckiest Guy', cursive;;

}

h2 {
    color:#2824BD;
    font-family: 'Luckiest Guy', cursive;; 
}

.top {
    font-family: 'Anton', sans-serif;
    font-family: 'Luckiest Guy', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Squada One', cursive;
    font-family: 'DM Serif Display', serif;
      
} 

.right {
   float: left;
   width: 600px;
   margin-left: 30px 

 }

.left {
    float: left;
    width: 600px;
 }

.description {
    width: 600px;
}

.directions {
    margin-top: 0px;
}