p {
    color: black
  
}

body {
    background-color: #4EFF33;
}

h1 {
    color:#2824BD;
    font-family: 'Luckiest Guy', cursive;;

}

h2 {
    color:#2824BD;
    font-family: 'Luckiest Guy', cursive;;
 
}

.description {
    font-family: 'Anton', sans-serif;
    font-family: 'Luckiest Guy', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Squada One', cursive;
    font-family: 'DM Serif Display', serif;   
     width: 600px; 
}

