p {
    color: black
  
}

body {
    background-color: #4EFF33;
}

h1 {
    color:#2824BD;
    font-family: 'Luckiest Guy', cursive;;

}

h2 {
    color:#2824BD;
    font-family: 'Luckiest Guy', cursive;;
 
}

.description {
    font-family: 'Luckiest Guy', cursive;;
    width: 600px; 
}

