body {
  background-color: #707070;
}

h2.title {
  text-align: center;
  color: black;
  
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.next_page {
  border-radius: 4px;
  background: linear-gradient(to right, #414a4c, #0e1111) !important;
  border: none;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  padding: 5px;
  width: 200px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 5px;
}
.next_page span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}
.next_page span:after {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.next_page:hover span {
  padding-right: 25px;
}
.next_page:hover span:after {
  opacity: 1;
  right: 0;
}